<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739648068627-301j4upfglbi7a841vgqnl16b0d666d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739648068627-301j4upfglbi7a841vgqnl16b0d666d6</string>
	<key>API_KEY</key>
	<string>AIzaSyDAFVrBI7ngWD-9w0LaLitWedSDUXPO-jA</string>
	<key>GCM_SENDER_ID</key>
	<string>739648068627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redcode.easylearning.easyLearning</string>
	<key>PROJECT_ID</key>
	<string>easy-learning-d8981</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-learning-d8981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739648068627:ios:af9b069dc31fdd3575f3e6</string>
</dict>
</plist>